{#  
            \\\||||||////
             \\  ~ ~  //
              (  @ @  )
___________ oOOo-(_)-oOOo________________
.......
....... 2021-2022 - Mini projet Framework Symfony - ReactJS
.......
....... @author Mathis QUEMENER (mathis.quemener@isen-ouest.yncrea.fr) - Clément YZIQUEL (clement.yziquel@isen-ouest.yncrea.fr)
....... 
....... @version 1.0
....... 
....... Page de modification d'un élément de la table espece
.......
__________________Oooo.__________________
         .oooO    (   )
         (   )     ) /
          \ (     (_/
           \_)

#}

{% extends 'base.html.twig' %}

{% block title %}Modification Espece{% endblock %}

{% block body %}
    <h1>Modification d'une Espece</h1>

    {{ include('espece/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('espece_index') }}">Retour à la liste</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
