{#  
            \\\||||||////
             \\  ~ ~  //
              (  @ @  )
___________ oOOo-(_)-oOOo________________
.......
....... 2021-2022 - Mini projet Framework Symfony - ReactJS
.......
....... @author Mathis QUEMENER (mathis.quemener@isen-ouest.yncrea.fr) - Clément YZIQUEL (clement.yziquel@isen-ouest.yncrea.fr)
....... 
....... @version 1.0
....... 
....... Header du back-office
.......
__________________Oooo.__________________
         .oooO    (   )
         (   )     ) /
          \ (     (_/
           \_)

#}

<header>
    <div class='header'>
        <ul>
            <li><a href="{{path('echouage_accueil')}}">Accueil</a></li>
            <li><a href="{{path('echouage')}}">Echouage</a></li>
            <li><a href="{{path('zone')}}">Zone</a></li>
            <li><a href="{{path('espece')}}">Espece</a></li>
        </ul>
    </div>
</header>
